@charset "utf-8";

:root {
    --main-bg-color: #222222;
    --main-color: #eeeeee;
    --alternate-bg-color: #444444;
    --alternate-color: #cccccc;
    --main-border-color: #AAAAAA;
    --table-header-bg-color: #e2e2e2;
    --link-color: #22ee22;
}

@media (prefers-color-scheme: light) {
    :root {
        --main-bg-color: white;
        --main-color: black;
        --alternate-bg-color: #efefef;
        --alternate-color: #222222;
        --main-border-color: #BBBBBB;
        --table-header-bg-color: #2e2e2e;
        --link-color: #22ee22;
    }
}

/**** Fonts *******/
@font-face {
    font-family: "Urbanist-Regular";
    font-style: normal;
    src: "Urbanist-Regular.ttf"
}

@font-face {
    font-family: "Urbanist-Thin";
    font-style: normal;
    src: "Urbanist-Thin.ttf"
}

@font-face {
    font-family: "Urbanist-ThinItalic";
    font-style: italic;
    src: "Urbanist-ThinItalic.ttf"
}

@font-face {
    font-family: "Urbanist-Bold";
    font-style: normal;
    font_weight: bold;
    src: "Urbanist-Bold.ttf"
}

@font-face {
    font-family: "White Modesty";
    font-style: normal;
    src: "White Modesty.ttf"";

}


/************ HTML ****************/

html {
    font-size: 1em;
    font-family: "Urbanist-Regular", -apple-system, BlinkMacSystemFont, "helvetica neue", helvetica, roboto, noto, "segoe ui", arial, sans-serif;
    line-height: 1.2em;
    background-color: var(--main-bg-color);
    color: var(--main-color);
}

/*********** Headers *************/

h1,
h2,
h3,
h4,
h5 {
    display: block;
    text-align: center;
    font-family: "Urbanist-Regular", "Myriad Pro", helvetica, sans-serif;
    font-style: normal;
}

h1 {
    font-size: 1.5em;
    line-height: 1.2em;
}

h2 {
    font-size: 1.25em;
    line-height: 1.1em;
    color: var(--alternate-color);
}

h3 {
    font-size: 1.1em;
    line-height: 1em;
    font-family: "Urbanist-Thin", "Myriad Pro", helvetica, sans-serif;
    color: var(--alternate-color);
}

h4 {
    font-size: 1.1em;
    line-height: 1em;
    font-family: "Urbanist-ThinItalic", "Myriad Pro", helvetica, sans-serif;
    color: var(--alternate-color);
}

h5 {
    font-size: 0.9em;
    line-height: 1;
}

/************* Images **************/

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/************** Body ***************/

body {
    margin: 0;
    padding: 1em;
    background-color: var(--main-bg-color);
    color: var(--main-color);
}

@media (max-device-width: 480px) {
    body {
        margin: auto;
    }

    table {
        width: 95%;
    }
}

@media (min-device-width: 481px) {
    body {
        margin: auto;
        max-width: 600px;
    }

    table {
        width: 70%;
    }
}

/************ VOG ******************/

blockquote {
    font-style: italic;
    margin: 4em 2em;
    padding: 1em;
    text-align: center;
    background-color: var(--alternate-bg-color);
    color: var(--alternate-color);
}

/********** HR *********************/

hr {
    margin: 50px;
}

/************ Table ****************/

table {
    display: table;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid var(--main-border-color);
    border-collapse: collapse;
}

th {
    padding: .5em;
    color: var(--main-bg-color);
    background: var(--table-header-bg-color);
    font-family: "Urbanist-Bold", "Lemon/Milk", "Myriad Pro", helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: lighter;
    text-align: center;
    border: 1px solid var(--main-border-color);
    border-collapse: collapse;
}

td {
    font-size: 1em;
    padding: 10px;
    border: 1px solid var(--main-border-color);
    border-collapse: collapse;
    font-family: "Urbanist-Regular", "Myriad Pro", helvetica, sans-serif;
}

td:nth-child(odd) {
    text-align: left;
    border-right: none;
}

td:nth-child(even) {
    text-align: right;
    border-left: none;
}

/* alternate line color */

tr:nth-child(odd) {
    background-color: var(--alternate-bg-color);
}

/* Status Table */

.status {
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}

.status td:nth-child(odd) {
    width: 30%;
}

.status td:nth-child(even) {
    width: 70%;
}

/* Geno-r Table */

.geno-r {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.geno-r td:nth-child(odd) {
    width: 50%;
}

.geno-r td:nth-child(even) {
    width: 50%;
}

/* Geno Table */

.geno {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.geno td:nth-child(odd) {
    width: 50%;
}

.geno td:nth-child(even) {
    width: 50%;
}

/* Beast Table */

.beast {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.beast td:nth-child(odd) {
    width: auto;
}

.beast td:nth-child(even) {
    width: auto;
}

/* Centered Tables */

.center {
    display: table;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.center td {
    text-align: center;
}

.center50 {
    display: table;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.center50 td {
    text-align: center;
}

.center70 {
    display: table;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.center70 td {
    text-align: center;
}

.note {
    font-weight: lighter;
    font-size: 60%;
}

.score {
    border: 1px;
}

/* Table Div */
.tables table {
    margin-bottom: 0px;
    margin-top: 0px;
}

.tables table:last-child {
    margin-bottom: 50px;
}

.tables table:first-child {
    margin-top: 50px;
}

/* Article Div */
.article {
    text-align: center;
    font-size: .6em;
    font-style: italic;
    width: 70%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 1.5em;
    background-color: var(--alternate-bg-color);
    color: var(--alternate-color);
}

.article-title {
    font-family: "Urbanist-Italic", "Lemon/Milk", "Myriad Pro", helvetica, sans-serif;
    font-size: 2em;
    font-style: normal;
    src: "Urbanist-Italic";
}

.article-sig {
    font-family: "White Modesty.ttf"'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2em;
    src: "White Modesty.ttf"
}

.article-reply {
    text-align: left;
    font-size: .6em;
    width: 70%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 1.5em;
    background-color: var(--alternate-bg-color);
    color: var(--alternate-color);
}

#titlepage {
    color: var(--main-bg-color);
}

p.title {
    text-align: center;
}

/* Styles for cover.xhtml */
body.cover {
    margin: 0;
    padding: 0;
    text-align: center;
}

p.cover {
    margin: 0;
    padding: 0;
    text-align: center;
}

img.cover {
    height: 100%;
    margin: 0;
    padding: 0;
}

html.eob {
    margin: 0;
    padding: margin;
    text-align: center;
}

body.eob {
    /* margin-left: auto; */
    /* margin-right: auto; */
    padding: 0;
    /* text-align: center; */
    background-color: var(--main-bg-color);
}

h2.eob {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    text-align: center;
    color: rgba(0,0,0,0);
}

h3.eob {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    text-align: center;
    color: var(--main-color)
}

picture.eob {
    margin: 0;
    padding: 0;
    text-align: center;
}

figure.eob{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p.eob {
    margin: 0;
    padding-bottom: 40px;
    text-align: center;
    color: rgba(0,0,0,0);
    font-family: "Urbanist-Thin", "Lemon/Milk", "Myriad Pro", helvetica, sans-serif;
}

p.eob-thin{
    display: block;
    text-align: center;
    font-family: Urbanist-Thin;
    margin-left: 0;
    margin-right: auto;
}

img.eob {
    width: 100%;
    max-height: 200px;
    margin: 0;
    padding: 0;
}

h1.titlepage {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: var(--main-color)
}

h3.titlepage {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: var(--main-color)
}

figure.titlepage-gem {
    width: 120px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
